body, html {
    background-color: #ffffff;
  
    /* removes horizontal scrollbar */
    overflow-x: hidden;

  }
  
  
  *{
    font-family: 'Raleway', sans-serif;
    text-decoration: none!important;
}
  
  .container-fluid {
    position: sticky;
  }
  
  .container-fluid{
    padding-left: 30px;
  }
  
  .navbar-brand{
    font-size: 16px;
    font-weight: 300px;
    margin-top: 25px;
  }
  
  .nav-item{
    font-size: 16px;
  }
  
  .navbar-collapse{
    padding-right: 30px;
  }
  .header {
    text-align: center;
  }
    
.for-padding{
  padding-left: 100px;
  padding-right: 100px;
}
  
  
  @media screen and (min-width: 800px) {
    .header video {
      width: 90%;
      height: auto;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .header video {
      width: 80%;
      height: auto;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .header video {
      width: 70%;
      height: auto;
    }
  }
  
  @media screen and (min-width: 1400px) {
    .header video {
      width: 60%;
      height: auto;
    }
  }
  
  @media screen and (max-width: 799px) {
    .header video {
      width: 100%;
      height: auto;
    }
  }
  
  
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 100px;
  }
  
  .video_size {
    width: 100vw;
    width: 100vh;
    object-fit: cover;
  }
  
  .agariya_image {
    margin-bottom: 50px;
  }
  
  /*
    .left_column {
      flex: 50%;
      justify-content: center;
    }
  
    /*
    .right_column {
      flex: 50%;
      justify-content: center;
    }
    */
  
  .left_column {
    width: 50%;
    padding-left: 50px;
    padding-right: 25px;
    box-sizing: border-box;
    justify-content: flex-end;
    flex-direction: column;
    align-content: right;
    text-align: justify;
  }
  
  .right_column {
    padding-left: 25px;
    width: 50%;
    box-sizing: border-box;
    justify-content: flex-end;
    flex-direction: column;
    align-content: left;
  }
  
  @media screen and (max-width: 992px) {
    .row {
      padding: 50px;
    }
  
    .left_column, .right_column {
      width: 100%;
      padding-left: 0px;
    }
  
    .left_column {
      margin-top: 50px;
      text-align: justify;
    }
  }
  
  .title_01 {
    margin-top: 15px;
    font-size: 38px;
    font-weight: 600;
    color: rgb(39, 39, 39);
  }
  
  .title_02 {
    font-size: 16px;
    font-weight: 500;
    color: rgb(105, 105, 105);
  }
  
  .title_03 {
    font-size: 16px;
    font-weight: 500;
    color: rgb(105, 105, 105);
    font-style: italic;
  }
  
  .body_text {
    font-size: 16px;
    color: rgb(105, 105, 105);
  }
  
  .click_link {
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }
  
  .cover_image {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  /*
  .body_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  */
  
  .row_image {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 100px;
  }
  
  .left_column_image {
    flex: 50%;
    box-sizing: border-box;
    margin: 20px 20px 20px 20px;
    width: 20%
  }
  
  .right_column_image {
    flex: 50%;
    box-sizing: border-box;
    width: 20%;
    margin: 20px 20px 20px 20px;
  }
  
  .body_image {
    width: 40%;
  }
  
  .video_frame {
    margin: 10px;
  }
  
  .image_small {
    width: 100%;
  }
  
  .folio_spread {
    flex: 50%;
    width: 20vw;
  }
  
  
  .column_3 {
    float: left;
    width: 33.333%
  }
  
  .row_3 {
    display: flex;
    column-count: 3;
  }
  
  .column_2 {
    float: left;
    width: 50%
  }
  
  .row_2 {
    display: flex;
    column-count: 2;
  }
  
  .body_text_1 {
    font-size: 16px;
    color: rgb(0, 0, 0);
   font-weight: 300;
   font-style: bold;
  }
  
  .body_text_2 {
    font-size: 14px;
    color: rgb(105, 105, 105);
    font-weight: lighter;
  }